<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccit.mappers.NoticeMapper">
    <cache/>
    <insert id="save" parameterType="Notice">
        INSERT INTO t_notice(title,context,realname,userid) VALUES(#{title},#{context},#{realname},#{userid})
    </insert>
</mapper>