<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccit.mappers.UserMapper">
    <cache/>
    <insert id="addUser">
        INSERT INTO t_user(username,password,name,roleid) VALUES(#{username},#{password},#{name},#{roleid})
    </insert>
    <update id="alterPw">
        UPDATE t_user SET password=#{password} where id=#{id}
    </update>
    <delete id="deleteById">
        DELETE FROM t_user WHERE id=#{id}
    </delete>
    <select id="findByUserName" resultType="User">
        SELECT * FROM t_user WHERE username=#{username}
    </select>
    <select id="findByParam" resultType="User" parameterType="map">
        SELECT t_user.*,t_role.id AS 'role.id',t_role.rolename AS 'role.rolename' FROM
        t_user
        INNER JOIN t_role ON t_role.id = t_user.roleid
        Limit ${start},${size}
    </select>
    <select id="getTotal" resultType="Long">
        SELECT COUNT(*) FROM t_user
    </select>
    <select id="findById" resultType="User">
        SELECT t_user.*,t_role.id AS 'role.id',t_role.rolename AS 'role.rolename' FROM
        t_user
        INNER JOIN t_role ON t_role.id = t_user.roleid
        WHERE t_user.id = #{id}
    </select>
    <update id="alterUser" parameterType="User">
        UPDATE t_user SET username=#{username},name=#{name},roleid=#{roleid} WHERE id=#{id}
    </update>
</mapper>